<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="Pubs" connectionString="server=Enoch;database=pubs;trusted_connection=yes;"/>
        <!--<add name="Pubs" connectionString="server=VMDevAppTest;database=pubs;trusted_connection=yes;"/>-->
    </connectionStrings>
</configuration>
