
body
{
    font-family: 'Bookman Old Style';
}
/*Header for Menu*/
#header {
        float:left;
        width:100%;
		border-top: 2px solid #037601;
        border-bottom: 2px solid #037601;
    }


/* green logo text */
.logoText
{
    color: Green;
    font-family: 'Bookman Old Style';
    font-weight: bold;
    font-size: 30px;   
}

/* green horizontal logo lines */
.logoLines
{
    background-color: Green;
    height: 3px;
}

/* use for table/gridview headers */
.altCellWhite tr:first-child
{
    background-color: Green;
    color: White;
    font-family: 'Bookman Old Style';
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

/* use for white table/gridview rows */
.altCellWhite td
{
    background-color: White;
    color: Black;
    font-family: 'Bookman Old Style';
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}

/* use for gray table/gridview rows */
.altCellGray td
{
    background-color: #F0F0F0;
    color: Black;
    font-family: 'Bookman Old Style';
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}

/* use for text in table cell/label if not using altCellWhite/altCellGray class */
.pageText
{
    color: Black;
    font-family: 'Bookman Old Style';
    font-size: 14px;
    vertical-align: top;
}

/* use for any href/link buttons on page */
.linkText
{
    color: Blue;
    font-family: 'Bookman Old Style';
    font-size: 11px;
    text-decoration: none;
}

/* For styling forms using definition lists*/
dl.form     { clear: both; }
dl.form dt  { float: left; clear: left; width: 150px; padding: 8px !important; }
dl.form dd  { padding: 8px; }